.post1{
  font-size: 20px
  font-family:fantasy;
  color: red;

}

.post2{
  font-size: 20px
  font-family:fantasy;
  color: green;

}

.post3{
  font-size: 20px
  font-family:fantasy;
  color: blue;
}

.aboutme{
  font-size: 40px
  font-family:cursive;
  color: purple;
}
