.post1{
  font-size: 20px
  font-family:fantasy;
  color: red;
  margin-top: 30px;
  margin-bottom: 30px;

}

.post2{
  font-size: 20px
  font-family:fantasy;
  color: green;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post3{
  font-size: 20px
  font-family:fantasy;
  color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aboutme{
  font-size: 40px
  font-family:cursive;
  color: purple;
  margin-top: 10px;
  margin-bottom: 10px;
}
